<!DOCTYPE css>

<style>
	h1 {
		margin:0 9%;
		font-size:200%;
		padding:30px 6%;
		background-color: white;
		border: 0.8px solid #D3D3D3
		}
	h1::first-letter {
		font-size:150%;
		color: #6769D5;
	}
	body{
		margin: 0;
		background-color: #F5F5F5;
        }
    .NavBar {
    	margin: 0 9%;
		overflow: hidden;
        background-color: #8386F9;
        }  
    .NavBar a {
 		color: #f2f2f2;	
        font-size: 15px;
 		text-align: center;
        float: left;
 		padding: 1% 4.5%;
 		text-decoration: none;
        border:0.8px solid white;
        }
    .NavBar a:hover {
        background-color: white !important;
        color: black;
		}
    .nav {
    	margin-left: 11%;
		position: sticky;
  	 	float: left;
 		width: 200px;
		background-color: white;
    	}
    .nav a {
    	display:block;
    	color: #666666;
        font-size: 100%;
        text-decoration: none;
        padding: 30px 30px;
        text-align: center;
        }
    .nav a:hover {
        color: black;
        background-color: #EBF2F7;
        border-right: 4px solid black;
        }
    article {
    	padding: 2% 9%;
        background-color: white;
        width: 40%;
        margin-left: 25%;
        }
</style>
